@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@600;700&display=swap');

:root {
    --text: #4a4a4a;
    --bg: #F1F3FF;
    --grey: #E0E2F7;
    --border: #b9b8b8;
    --primary: #2F44FF;
    --active: #6473FF;
    --secondary: #FFC52F;
}
body {
    max-width: 100vw;
    overflow: hidden;
    color: var(--text) !important;
    background-color: var(--bg) !important;
    min-height: 100vh;
    font-family: "Athiti", sans-serif;
}
.button, .input, .textarea {
    font-family: "Athiti", sans-serif !important;
}
a {
    color: var(--primary) !important;
}
a:hover {
    color: var(--active) !important;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.card {
    margin-top: 1em;
}
.card.qr {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.card, .box {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.content.center {
    width: 100%;
    text-align: center;
}

.box.timing {
    width: 80%;
}

.card.qr .card-image figure img {
    border-radius: 15px;
}

.note {
    display: none;
    width: 100%;
}

.note.active {
    display: unset;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    margin: auto;
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
    margin-top: 0;
    opacity: 0;
}

.nav-wrapper.active {
    height: 11em;
    margin-top: 1em;
    opacity: 1;
}

.nav-wrapper svg.svg-inline--fa {
    width: 1.5em;
}

.nav-logo {
    height: 4em;
}

#burger {
    margin-left: 0;
}

#burger span {
    background-color: var(--primary);
    display: block;
    height: 5px;
    left: calc(50% - 15px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color,opacity,transform;
    transition-timing-function: ease-out;
    width: 30px;
    border-radius: 5px;
}

#burger span:first-child {
    top: calc(50% - 16px);
}

#burger.is-active span:first-child {
    transform: translateY(13px) rotate(45deg);
}

#burger span:nth-child(2) {
    top: calc(50% - 6px);
}

#burger.is-active span:nth-child(2) {
    opacity: 0;
}

#burger span:nth-child(3) {
    top: calc(50% + 4px);
}

#burger.is-active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

#burger:hover {
    background-color: unset;
}

hr {
    background: var(--grey) !important;
}

.pagination-link .pagination-previous {
    font-family: "Athiti", sans-serif;
}

.columns {
    width: 90%;
}

.level {
    padding-top: 1.5rem;
}

.level.no-pd {
    padding-top: .5rem;
}

.fa-angle-down {
    transition: .5s ease-in-out;
    transform: translateY(2.5px) rotate(0deg);
}

.fa-angle-down.active {
    transform: translateY(2.5px) rotate(-90deg);
}

.fa-poll.True, .fa-poll.true {
    color: #FFBA06;
}

.fa-check-square.True, .fa-check-square.true {
    color: hsl(141, 71%, 48%);
}

.column.is-full:not(+ .column.work) {
    display: none;
}

.pagination-previous {
    max-width: 90%;
}

.centered {
    margin: auto;
    text-align: center;
    display: block;
    padding: .8em 0 0;
    margin-bottom: 0 !important;
}

.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    margin-bottom: 0;
    background-color: var(--grey) !important;
}

.message-body {
    border: none !important;
    text-align: center;
    background-color: var(--grey) !important;
    border-radius: 10px;
}

.message {
    border-radius: 10px;
    background-color: var(--grey);
}

.notification {
    border-radius: 10px;
}

.notification code {
    background-color: #C9CEFD;
    border-radius: .375em;
    color: hsl(0, 0%, 29%);
}

.tag.is-a-link a:hover {
    text-decoration: var(--text);
}

.table.full {
    max-width: 100vw !important;
    min-width: 100vw !important;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100vw;
    margin-bottom: 2em;
    font-size: .9em !important;
}

.table.full td {
    overflow: hidden;
}

input, select, textarea {
    background-color: var(--bg) !important;
    border-color: var(--border) !important;
}

button, input {
    border-radius: 10px !important;
}

.is-link {
    background-color: var(--primary) !important;
    color: var(--bg) !important;
}

.is-link:hover {
    background-color: var(--active) !important;
    color: var(--bg) !important;
}

.is-warning {
    color: var(--secondary) !important;
}

.timeline {
    padding: 1em;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: .1em;
}

.event:not(:last-child)::after {
    content: '';
    background-color: var(--border);
    width: .1em;
    height: 3em;
    display: block;
}

.event .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event .intro .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 50%;
    border: 1px var(--border) solid;
}

.event .intro .icon svg path {
    color: var(--primary);
}

.event .intro p {
    text-align: center;
}

.event .intro p.small {
    font-size: x-small;
    color: var(--border);
}

.event .desc p {
    font-size: small;
    text-align: center;
    color: var(--active);
}
