<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/legal/icon.png">
  <link rel="manifest" href="/static/js/manifest.json">
  <meta property="og:title" content="EleveDirect, un client EcoleDirect conçu pour les élèves !" />
  <meta property="og:url" content="http://eleve-direct.server.camarm.fr" />
  <meta property="og:image" content="/static/legal/og.png" />
  <title>Eleve Direct - {% block name %}{% endblock%}</title>
</head>
<body>
<nav class="level no-pd">
  <div class="top-nav">
    <div class="level is-mobile">
      <p class="level-item has-text-centered">
        <img src="/static/legal/logo.png" class="nav-logo">
      </p>
      <p class="level-item has-text-centered">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="burger" onclick="toggleNavbar()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </p>
    </div>
  </div>
  <div class="nav-wrapper">
    <p class="level-item has-text-centered">
      <a class="link is-info data-action" href="#home" data-action="home"><i class="far fa-home"></i>&nbsp;Accueil</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info data-action" href="#notes" data-action="notes"><i class="far fa-thumbtack"></i>&nbsp;Notes</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info data-action" href="#homework" data-action="homework"><i class="far fa-briefcase"></i>&nbsp;Devoirs</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info data-action" href="#contact" data-action="contact"><i class="far fa-id-card"></i>&nbsp;Contact</a>
    </p>
  </div>
  <hr>
</nav>
{% block content %}
{% endblock %}
<script src="/static/js/base.js"></script>
</body>
</html>